.ol-overlaycontainer-stopevent {
  display: flex;
  align-items: flex-end;
}

.ol-attribution {
  display: flex;
}

.ol-attribution button {
  align-items: center;
}

.ol-attribution ul {
  margin: 0px;
  list-style: none;
}

/* The popup */
.popup {
  width: 160px;
  text-align: center;
  border-radius: 6px;
  background-color: #555;
  color: #fff;
  padding: 8px 10px;
  position: absolute;
  z-index: 1;
  margin-left: -70px;
}

/* Popup arrow */
.popup::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 44%;
  margin-left: -4px;
  border-width: 4px;
  border-style: solid;
  border-color: #666 transparent transparent;
  transform: rotate(180deg);
}